<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="pokemons.length > 0; else noFavorites">
    <ion-item
      *ngFor="let pokemon of pokemons"
      (click)="openDetails(pokemon.name)"
    >
      <app-pokemon-card
        [pokemon]="pokemon"
        [isFavorite]="true"
        (favoriteClick)="removeFavorite($event.pokemon, $event.event)"
      >
      </app-pokemon-card>
    </ion-item>
  </ion-list>

  <ng-template #noFavorites>
    <p>Nenhum Pokémon favoritado ainda.</p>
  </ng-template>
</ion-content>
