@import "../../../theme/variables.scss";

ion-content {
  > * {
    max-width: $max-width;
    margin: auto;
  }
}
ion-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 16px;
  padding: 0;
  margin: 0;
  list-style: none;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
  border: none;
  background: transparent;
}

.header-container {
  max-width: $max-width;
  margin: auto;
  align-items: center;
  display: flex;
  padding-inline: 20px;

  .favorite-button {
    height: min-content;

    --color: #e0245e;
    width: fit-content;
    border: none;
    white-space: nowrap;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      height: 2px;
      background-color: var(--color);
      bottom: 0;
      left: 0;
      width: 0%;
      transition: width 0.3s ease;
    }

    .favorite-button-text {
      display: none;
    }
  }
}

@media screen and (min-width: 400px) {
  .header-container {
    .favorite-button {
      &:hover::before {
        width: 100%;
      }

      .favorite-button-text {
        display: block;
      }
    }
  }
}
