<ion-header>
  <ion-toolbar>
    <ion-title>Pokémons</ion-title>
  </ion-toolbar>
  <ion-button
    fill="none"
    routerLink="/favorites"
    class="favorite-button"
    (click)="seeFavorites()"
  >
    <ion-icon slot="start" name="heart"></ion-icon>
    <span class="favorite-button-text"> Ver Favoritos </span>
  </ion-button>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let pokemon of pokemons">
      <app-pokemon-card
        [pokemon]="pokemon"
        [isFavorite]="favoriteIds.has(pokemon.id)"
        (favoriteClick)="toggleFavorite($event.pokemon, $event.event)"
      >
      </app-pokemon-card>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="loadMore()" [disabled]="loading">
    <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
    <span *ngIf="!loading">Carregar mais</span>
  </ion-button>
</ion-content>
